@model BrnMall.Web.MallAdmin.models.UserEditModel

@section header{
    <title>编辑用户</title>
    <link type="text/css" rel="stylesheet" href="/admin_mall/css/site.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
}

@section body
    {
    <h1 class="rightH1">
        用户管理 &gt;&gt; 添加用户
        <div class="right">
            @*<a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT"><img src="/admin_mall/images/goback.jpg"/>返回列表</a>*@
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </h1>

    <form>
        <div class="addTable">
            <input id="uID" type="hidden" value="@Model.User.UID" />
            <table width="100%">
                <tr>
                    <td width="86px" align="right">用户角色 ：</td>
                    <td><input type="button" value="修改" data-toggle="modal" data-target="#role-panel" /></td>
                </tr>
                <tr>
                    <td align="right">用户权限 ：</td>
                    <td> <input type="button" data-toggle="modal" data-target="#permission-panel" value="修改" /></td>
                </tr>

                <tr>
                    <td align="right">&nbsp;</td>
                    <td>
                        <a href="" class="addBt" id="sumbitBut1"><img src="/admin_mall/images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

        <div class="addTable hide">
            <table width="100%">
                <tr>
                    <td width="86px" align="right">支付积分：</td>
                    <td>@*@Html.TextBoxFor(x => x.PayCredits, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.PayCredits)*@</td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>
                        <a href="" class="addBt" id="sumbitBut2"><img src="/admin_mall/images/submit.jpg" /></a>
                    </td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

        <div class="addTable hide">
            <table width="100%">
                <tr>
                    <td width="86px" align="right">真实名称：</td>
                    <td>@*@Html.TextBoxFor(x => x.RealName, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.RealName)*@</td>
                </tr>
                <tr>
                    <td align="right">性别：</td>
                    <td>
                        <p>
                            @*<label>@Html.RadioButtonFor(x => x.Gender, 0, new { @class = "checkbox" })未知</label>
                                <label>@Html.RadioButtonFor(x => x.Gender, 1, new { @class = "checkbox" })男</label>
                                <label>@Html.RadioButtonFor(x => x.Gender, 2, new { @class = "checkbox" })女</label>
                                      @Html.ValidationMessageFor(x=>x.Gender)*@
                            <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right">身份证：</td>
                    <td>@*@Html.TextBoxFor(x => x.IdCard, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.IdCard)*@</td>
                </tr>
                <tr>
                    <td align="right">出生日期：</td>
                    <td>
                        @*@Html.TextBoxFor(x => x.Bday, new { @class = "input", size = "18", onfocus = "WdatePicker({el:'Bday', dateFmt:'yyyy/MM/dd'})" }) @Html.ValidationMessageFor(x => x.Bday)*@
                        @*@if (Model.Bday != null)
                            {
                                    <script type="text/javascript">
                                        var fmtDate= "@Model.Bday.Value.ToString("yyyy/MM/dd")";
                                        $("#Bday").val(fmtDate);
                                    </script>
                            }*@
                    </td>
                </tr>
                <tr>
                    <td align="right">所在区域：</td>
                    <td>
                        <select class="provinceSelect" id="provinceSelect">
                            <option selected="selected" value="-1">请选择</option>
                        </select>
                        <select class="citySelect" id="citySelect">
                            <option selected="selected" value="-1">请选择</option>
                        </select>
                        <select class="countySelect" id="countySelect" name="regionid">
                            <option selected="selected" value="-1">请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">详细地址：</td>
                    <td>@*@Html.TextBoxFor(x => x.Address, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.Address)*@</td>
                </tr>
                <tr>
                    <td align="right">简介：</td>
                    <td>@*@Html.TextAreaFor(x => x.Bio, new { cols = "40", rows = "6" })@Html.ValidationMessageFor(x => x.Bio)*@</td>
                </tr>

                <tr>
                    <td align="right">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr></tr>
            </table>
        </div>
    </form>

    <div class="modal fade" id="role-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">用户角色 </h4>
                </div>
                <div class="modal-body">
                    @foreach (var role in Model.Roles)
                    {
                        if (Model.User.Roles.Where(r => r.RID == role.RID).Count() > 0)
                        {
                            <span> @role.RName</span><input type="checkbox" value="@role.RID" class="user-role-select" checked />
                        }
                        else
                        {
                            <span> @role.RName</span><input type="checkbox" value="@role.RID" class="user-role-select" />
                        }
                        <span> &nbsp; &nbsp; &nbsp;</span>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


    <div class="modal fade" id="permission-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">用户权限</h4>
                </div>
                <div id="accordion" class="modal-body">
                    @foreach (var type in Model.TypeList)
                    {
                        
                        <h3>@type.TName</h3>
                        <div>
                           
                            @foreach (var p in Model.Permissions)
                            {
                                if (p.PType.TID == type.TID)
                                {
                                    <span> @p.PName</span><input type="checkbox" pID="@p.PID" value="@p.PID" class="user-permission-select"/> <span> &nbsp; &nbsp; &nbsp;</span>
                                }                                                      
                            }
                        </div>
                    }

                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
        <input type="hidden" name="uID" value="@Model.User.UID" />
    </div>
    <script src="/admin_mall/scripts/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/admin_mall/scripts/MallManage.js?v=3"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#accordion").accordion({ heightStyle: "content" });

            $('#permission-panel').on('show.bs.modal', function (e) {   
                var body = $(this).parents("body");
                var uID =    $(body).find("#uID").val();
                $.post("/malladmin/MallManage/GetUserPermission",
                    {
                        uID:uID
                    },
                    function (data) {
                        var json = $.parseJSON(data);
                        $(body).find("input[pID]").removeAttr("checked");
                        for (var i = 0; i < json.length; i++) {                         
                            $(body).find("input[pID='" + json[i].PID + "']").prop("checked", true);
                        }
                    });
            });
        });
     

    </script>
}