@model BrnMall.Web.Models.UserCenterModel
@{
    Layout = null;
}

@Html.Partial("_header")
<link href="/css/Css_Purchase/percenter.css" rel="stylesheet" />

<div id="breadcrumb">
    <div class="center-x">
        <strong><a href="/Home/Index" target="_blank">首页</a></strong><span><a href="/ucenter/Index" target="_blank">个人中心</a></span>
    </div>
</div>

<div class="center-x">
    @Html.Partial("_menu")


    <div class="myper-r">
        <div class="perinfo">
            <div class="center-l">
                <h3>个人资料</h3>
                <dl>
                    <dt>
                        @WorkContext.NickName
                    </dt>
                    <dd class="member"><a>@WorkContext.UserRankInfo.Title</a></dd>
                </dl>
                <ul>
                    <li>商品咨询<a href="@Url.Action("productconsultlist")">@ViewData["ConsultCount"]</a></li>
                    <li>我的 @WorkContext.PayCreditName <a href="@Url.Action("paycreditloglist")">@WorkContext.PayCreditCount</a></li>
                    <li>优惠券<a href="@Url.Action("couponlist")">@ViewData["CouponsCount"]</a></li>
                </ul>
            </div>
            <div class="center-r" style="width:380px">
                <ul>
                    @{
                        //int WaitPay = (int)OrderState.WaitPaying;
                        //int PreProducting = (int)OrderState.PreProducting;
                        //int Sended = (int)OrderState.Sended;
                        //int Completed = (int)OrderState.Completed;
                        //int Returned = (int)OrderState.Returned;
                    }

                    <li>
                        @*<a href="@Url.Action("orderlist", "ucenter" , new RouteValueDictionary { { "orderState" , WaitPay } })">
                            <img src="/images/daipay.png" /><p>待付款<span>@ViewData["WaitPayCount"]</span></p>
                        </a>*@
                    </li>
                    <li>
                        @*<a href="@Url.Action("orderlist", "ucenter", new RouteValueDictionary { { "orderState", PreProducting } })">
                            <img src="/images/daifahuo.png" /><p>待发货<span>@ViewData["PreProductingCount"]</span></p>
                        </a>*@
                    </li>
                    <li>
                        @*<a href="@Url.Action("orderlist", "ucenter", new RouteValueDictionary { { "orderState", Sended } })">
                            <img src="/images/daishouhuo.png" /><p>待收货<span>@ViewData["SendedCount"]</span></p>
                        </a>*@
                    </li>
                    <li>
                        @*<a href="@Url.Action("orderlist", "ucenter", new RouteValueDictionary { { "orderState", Completed }, { "IsEvaluate",0 } })">
                            <img src="/images/daipingjia.png" /><p>待评价<span>@ViewData["CompleteCount"]</span></p>
                        </a>*@
                    </li>
                    <li>
                        @*<a href="@Url.Action("orderlist", "ucenter", new RouteValueDictionary { { "orderState", Returned } })">
                            <img src="/images/shouhou.png" /><p>退款/售后<span>@ViewData["ReturnedCount"]</span></p>
                        </a>*@
                    </li>
                </ul>
            </div>
        </div>

        <div class="my-order">
            <h3>我的订单</h3>

            @*@{

                foreach (System.Data.DataRow row in (ViewData["OrderDataTable"] as OrderListModel).OrderList.Rows)
                {
                    OrderState orderState = (OrderState)TypeHelper.ObjectToInt(row["orderstate"]);
                    <dl>
                        <dt>
                            @{
                    var lss = Orders.GetOrderProductList(TypeHelper.ObjectToInt(row["oid"]), (ViewData["OrderDataTable"] as OrderListModel).OrderProductList);

                            }
                            @for (int i = 0; i < lss.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <h1>
                                        <a href="@Url.Action("product", "catalog", new RouteValueDictionary { { "pid", lss[i].Pid } })">
                                            <img src="@{@WorkContext.ImageCDN}/upload/store/@lss[i].StoreId/product/show/thumb60_60/@lss[i].ShowImg" width="50" height="50" />
                                        </a>
                                    </h1>
                                    <span class="fl">
                                        @lss[i].Name
                                    </span>
                                    if (lss.Count > 1)
                                    {
                                        @:<i>@lss.Count</i>
                                    }
                                }
                            }

                        </dt>
                        <dd style="line-height:20px;padding-top:25px;height:45px;">￥@row["orderamount"] <p>@row["shipconame"]</p></dd>
                        <dd id="orderState@{@row["oid"] oid"]}">
                            @switch (orderState)
                            {
                                case OrderState.WaitPaying:
                                    @:等待付款
                                        break;
                                case OrderState.Confirming:
                                @:待确认
                                        break;
                                case OrderState.Confirmed:
                                @:已确认
                                        break;
                                case OrderState.PreProducting:
                                @:备货中
                                        break;
                                case OrderState.Sended:
                                @:已发货
                                        break;
                                case OrderState.Completed:
                                @:已完成
                                        break;
                                case OrderState.Cancelled:
                                @:取消
                                        break;
                                case OrderState.Returned:
                                @:退货
                                        break;
                                case OrderState.Locked:
                                @:锁定
                                        break;
                                default:
                                @:未知状态
                                        break;
                            }
                        </dd>
                        <dd>
                            @Html.Raw(TypeHelper.ObjectToDateTime(row["addtime"]).ToString("yyyy-MM-dd"))
                            @Html.Raw(TypeHelper.ObjectToDateTime(row["addtime"]).ToString("HH:mm:ss"))
                        </dd>
                        <dd>
                            <a href="@Url.Action(" orderinfo", new routevaluedictionary { { "oid" ,typehelper.objecttoint(row["oid"]) } })" id="orderInfo@{@row[" oid"]}">查看 </a>
                            @if (orderState == OrderState.WaitPaying && TypeHelper.ObjectToInt(row["paymode"]) == 1)
                            {
                                <a href="@Url.Action(" payshow", "order" , new routevaluedictionary {{ "oidList" , typehelper.objecttoint(row["oid"]) } })" id="payOrderBut@{@row[" oid"]}">付款</a>
                            }
                            @if (orderState == OrderState.Completed && TypeHelper.ObjectToInt(row["isreview"]) == 0)
                            {
                                <a href="@Url.Action(" revieworder", new routevaluedictionary { { "oid" ,typehelper.objecttoint(row["oid"]) } })">评价</a>
                            }
                            @if (orderState == OrderState.WaitPaying || (orderState == OrderState.Confirming && TypeHelper.ObjectToInt(row["paymode"]) == 0))
                            {
                                <a href="javascript:cancelOrder(@row[" oid"], 0)" id="cancelOrderBut@{@row[" oid"]}">取消订单</a>
                            }
                        </dd>

                    </dl>
                }
            }*@
        </div>

        <div class="my-fav">
            <h3>我关注的商品</h3>
            <ul>
                @{
                    @*foreach (System.Data.DataRow row in (ViewData["FavoriteList"] as FavoriteProductListModel).ProductList.Rows)
                    {
                        <li>
                            <h1>
                                <a href="@Url.Action(" product","catalog", new routevaluedictionary { {"pid",row["pid"]}})">
                                    <img src="@{@WorkContext.ImageCDN}/upload/store/@row[" storeid"] />product/show/thumb190_190/@row["showimg"]" />
                                </a>
                            </h1>
                            <p>
                                @row["name"]
                            </p>
                        </li>
                    }*@
                }

            </ul>
        </div>
    </div>
</div>
@Html.Partial("_footer")