@model BrnMall.Web.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户登录-@{@WorkContext.MallConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

</head>
<body>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <header>
        <div class="top">
            <ul class="top-content">
                <li><a href=""><img src="/images/logoh.png" /></a></li>
                <li class="logo-title">云绣网</li>
            </ul>
        </div>
    </header>

    <div class="mid-content">
        <div class="bj">
            <div class="login-box">
                <div class="login-title">账号登录</div>
                <div class="main-content">
                    <form name="loginForm" action="">
                        <div class="inputposition">
                            <span class="glyphicon glyphicon-user"></span>
                            <input class="userName text input-style" type="text" name="@Model.ShadowName"  value="842736598@qq.com" />
                            <p class="tsname" id="tsName">用户名不能为空</p>
                        </div>
                        <div class="inputposition">
                            <span class="glyphicon glyphicon-lock"></span>
                            <input  type="password" name="password" class="passWord text input-style" value="123456789" />
                            <p class="tspwd" id="tsPwd">密码不能为空</p>
                        </div>
                        <div class="inputposition">
                            <span class="glyphicon glyphicon-th"></span>
                            <input type="text" name="verifyCode" autocomplete="off" class="YZM text left yz-style" /><img id="verifyImage" style="cursor:hand" title="点击刷新验证码" onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" height="34" class="left" />

                            <p class="tsyzm" id="tsYzm">验证码不能为空</p>
                        </div>
                        <button type="button" class="btn btn-warning button-style" onclick="login()">登录</button>
                        <div class="login-link">
                            <a class="forget-pwd" href="">忘记密码?</a>
                            <a class="regist" href="">注册账号</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            <a href="">商城简介</a>
            <b>|</b>
            <a href="">商城公告</a>
            <b>|</b>
            <a href="">招贤纳士</a>
            <b>|</b>
            <a href="">联系我们</a>
            <b>|</b>
            联系热线：0752-8888888
        </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </footer>

</body>

</html>
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/scripts/account.js" type="text/javascript"></script>
<script type="text/javascript">
    returnUrl = "@Model.ReturnUrl";
    shadowName = "@Model.ShadowName";
</script>




