@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<title>@{@WorkContext.MallConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)*@


    <script type="text/javascript">
        @*uid = @WorkContext.Uid;
        isGuestSC = @WorkContext.MallConfig.IsGuestSC;
        scSubmitType = @WorkContext.MallConfig.SCSubmitType;*@
    </script>
</head>
<body>
    @Html.Partial("_header")
    <link href="@{@WorkContext.CSSCDN}/css/home.css" rel="stylesheet" type="text/css" />
    <div class="announce container">
        <div class="ann_con" style="">
            <div class="signinfo">
                <img class="fl" src="/images/headimg.png" />
                <p class="fl">
                    嗨~你好！
                    <br />我的云绣
                </p>
                <div class="btn-group-sm clear">
                    <a href="###" class="btn btn-info col-md-5">登录</a>
                    <span class="col-md-1"></span>
                    <a href="###" class="btn btn-info col-md-5">开店</a>
                </div>
                <div class="btn-group-sm">
                    <a href="###">免费注册>></a>
                </div>
            </div>
            <div class="col-sm-12">
                <ul class="clear tab-ann">
                    <li class="col-sm-6 selected"><a>公告</a></li>
                    <li class="col-sm-6"><a>帮助</a></li>
                    <!--<li><a href="###" target="_blank">[new]最新入驻规则说明</a></li>
                    <li><a href="###" target="_blank">[促销]平达利品牌狂3天</a></li>
                    <li><a href="###" target="_blank">[新品]禾丰新品预售，免定金</a></li>-->
                </ul>
                <dl class="clear">
                    <dd><a href="###" target="_blank"><span>[new]</span>最新入驻规则说明</a></dd>
                    <dd><a href="###" target="_blank"><span>[促销</span>]平达利品牌狂3天</a></dd>
                    <dd><a href="###" target="_blank"><span>[new]</span>最新入驻规则说明</a></dd>
                    <dd><a href="###" target="_blank"><span>[促销]</span>平达利品牌狂3天</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="kinMaxShow">

        <div>
            <a href="###" target="_blank"><img src="/images/demo_default_images/1.jpg" /></a>
        </div>

        <div>
            <a href="###" target="_blank"><img src="/images/demo_default_images/2.jpg" /></a>
        </div>

        <div>
            <a href="###" target="_blank"><img src="/images/demo_default_images/3.jpg" /></a>
        </div>

        <div>
            <a href="###" target="_blank"><img src="/images/demo_default_images/4.jpg" /></a>
        </div>

        <div>
            <a href="###" target="_blank"><img src="/images/demo_default_images/5.jpg" /></a>
        </div>

        <div>
            <a href="###" target="_blank"><img src="images/demo_default_images/6.jpg" /></a>
        </div>

    </div>
    <div style="padding-bottom:30px;">
        <div class="container">
            <div class="picScroll-left row">
                <div class="hd">
                    <a class="next"></a>
                    <ul></ul>
                    <a class="prev"></a>
                    <h5>热销商品</h5>
                    <!--<span class="pageState"></span>-->
                </div>
                <div class="bd" style="background:#fff;">
                    <ul class="picList">
                        @{
                            var products = @Model.HotProducts;
                        }
                        @foreach (var info in products)
                        {
                            <li>
                                <div class="pic">
                                    <a href="###" target="_blank">
                                        @{
                            //string img = Convert.ToString(@info.ImgID);
                            //string imgName = img + ".jpg";
                                        }
                                        <img src="@{@WorkContext.ImageCDN}/images/productImg/@info.ImgName" />
                                    </a>
                                </div>
                                <div class="title col-md-12">
                                    <p class="titlepro"><a href="###" target="_blank">@info.Name</a></p>
                                    <p class="priceline"><span class="pricel">@info.ShopPrice</span><span class="pricer">已售：@info.SaleCount</span></p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="center-x clear">
           <div class="brand" style="">
             <ul>
                <li class="btg"><a class="colorgreen"><img src="images/tajima.png" />神州田岛</a></li>
                <li class="btr"><a><img src="images/tipflex.png" />指灵科技</a></li>
                <li class="bty"><a><img src="images/tiandao.png" />神州田岛</a></li>
                <li class="btb"><a><img src="images/tiandao.png" />松谷</a></li>
                <li><a><img src="images/tiandao.png" />松谷</a></li>
                <li><a><img src="images/tajima.png" />神州田岛</a></li>
                <li><a><img src="images/tipflex.png" />指灵科技</a></li>
                <li><a><img src="images/tiandao.png" />神州田岛</a></li>
             </ul>
           </div>
        </div>-->
        <div class="container clear bg-white">
            <div class="row">
                <div class="fl" style="width:20%;">
                    <img style="width:100%;" src="images/brand.jpg" />
                </div>
                <div class="fl" style="width:60%;">
                    <ul class="brandlist">
                        @{
                            var brands = @Model.BrandImg;
                        }
                        @foreach (var brandsinfo in brands)
                        {
                            <li class="col-md-2">
                                <h1>
                                    <a href="###" target="_blank">
                                        @*<img src="images/tiandao.png" />*@
                                        <img class="fl" src="@{@WorkContext.ImageCDN}/images/brand/@brandsinfo.Logo" />
                                    </a>
                                </h1>
                            </li>
                        }

                    </ul>
                </div>
                <div class="fl" style="width:20%;height:268px;">
                    <ul class="col-sm-12 brand-active">
                        <li><h5>——品牌动态——</h5></li>
                        @{
                            var brand = @Model.ShowDynamicBran;
                        }
                        @foreach (var brandinfo in brand)
                        {
                            <li>
                                <img class="fl" src="@{@WorkContext.ImageCDN}/images/brand/@brandinfo.Logo" />
                                <p class="fl">
                                    @brandinfo.Name
                                    <br /><a>@brandinfo.Name</a>
                                </p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <!--cloth floor-->
        <div class="cloth-floor clear container">
            <div class="row">
                <div class="floorT themered">
                    <h2 class="font16">@Model.CategoryName</h2>
                </div>
                <div class="floorCon bg-white">
                    <div class="a_con">
                        <div class="a_con_top">
                            <img src="images/pei2.png" />
                        </div>
                        <div class="a_con_bot">
                            @{ var OnebrandByCategory = @Model.GetBrandByCategory;
                            }


                            @foreach (var oneBrandByCategoryInfo in OnebrandByCategory)
                            {
                                <ul class="col-sm-6">
                                    <li><a>@oneBrandByCategoryInfo.Name</a></li>
                                </ul>}

                        </div>
                        <ul class="huodong col-sm-12">
                            <li><a>格罗茨针></a></li>
                            <li><a>格罗茨针格罗茨格罗茨></a></li>
                        </ul>
                    </div>
                    <div class="b_con">
                        <ul>
                            @{var CategorysProduc = @Model.GetProductByCategory;
                            }
                            @foreach (var CategorysProducInfo in CategorysProduc)
                            {
                                <li>
                                    <h1>
                                        <a href="###" target="_blank">
                                            @{
                                //string img = Convert.ToString(@CategorysProducInfo.ImgID);
                                //string imgName = img + ".jpg";
                                            }
                                            <img class="fl" src="@{@WorkContext.ImageCDN}/images/productImg/@CategorysProducInfo.ImgName" />
                                        </a>
                                    </h1>
                                    <p>@CategorysProducInfo.Name</p>
                                    <b class="colorgreen">@CategorysProducInfo.ShopPrice</b>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="c_con">
                        <ul>

                            <li><h5>热门品牌</h5></li>
                            @{
                                var hotBrand = @Model.HotBrand;
                            }
                            @foreach (var hotBrandinfo in hotBrand)
                            {
                                <li><h1><a><img src="@{@WorkContext.ImageCDN}/images/brand/@hotBrandinfo.Logo" /></a></h1></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>



        <div class="mac-floor clear container">

            <div class="row">

                <div class="floorT themered">
                    <h2 class="font16">@Model.CategoryNameOne</h2>
                </div>

                <div class="floorCon bg-white">
                    <div class="a_con">
                        <div class="a_con_top">
                            <img src="images/pei2.png" />
                        </div>

                        <div class="a_con_bot">
                            @{ var brandByCategory = @Model.GetBrandByCategoryOne;
                            }

                            @foreach (var brandByCategoryInfo in brandByCategory)
                            {
                                <ul class="col-sm-6">

                                    <li><a>@brandByCategoryInfo.Name</a></li>

                                </ul>
                            }
                        </div>
                        <ul class="huodong col-sm-12">
                            <li><a>格罗茨针></a></li>
                            <li><a>格罗茨针格罗茨格罗茨></a></li>
                        </ul>
                    </div>

                    <div class="b_con">
                        <ul>
                            @{var CategorysProducOne = @Model.GetProductByCategoryOne;
                            }
                            @foreach (var CategorysProducInfoOne in CategorysProducOne)
                            {
                                <li>
                                    <h1>
                                        <a href="###" target="_blank">
                                            @{
                                //string img = Convert.ToString(@CategorysProducInfoOne.ImgID);
                                //string imgName = img + ".jpg";
                                            }
                                            <img class="fl" src="@{@WorkContext.ImageCDN}/images/productImg/@CategorysProducInfoOne.ImgName" />
                                        </a>
                                    </h1>
                                    <p>@CategorysProducInfoOne.Name</p>
                                    <b class="colorgreen">@CategorysProducInfoOne.ShopPrice</b>
                                </li>
                            }

                            @*<li>
                                    <h1>
                                        <a href="###" target="_blank">
                                            <img src="images/pei2.png" />
                                        </a>
                                    </h1>
                                    <p>小女孩背景原创  TKP541545464  手绘系列  编带发</p>
                                    <b class="colorgreen">￥88800</b><s>89000</s>
                                </li>
                                <li>
                                    <h1><a href="###" target="_blank"><img src="images/pei3.png" /></a></h1>
                                    <p>小女孩背景原创  TKP541545464  手绘系列  编带发</p>
                                    <b class="colorgreen">￥64</b><s>89</s>
                                </li>
                                <li>
                                    <h1><a href="###" target="_blank"><img src="images/pei1.png" /></a></h1>
                                    <p>小女孩背景原创  TKP541545464  手绘系列  编带发</p>
                                    <b class="colorgreen">￥64</b><s>89</s>
                                </li>
                                <li>
                                    <h1><a href="###" target="_blank"><img src="images/17279_1.jpg" /></a></h1>
                                    <p>小女孩背景原创  TKP541545464  手绘系列  编带发</p>
                                    <b class="colorgreen">￥64</b><s>89</s>
                                </li>
                                <li>
                                    <h1><a href="###" target="_blank"><img src="images/pei4.png" /></a></h1>
                                    <p>小女孩背景原创  TKP541545464  手绘系列  编带发</p>
                                    <b class="colorgreen">￥64</b><s>89</s>
                                </li>*@
                        </ul>
                    </div>

                    <div class="c_con">
                        <ul>
                            <li><h5>热门品牌</h5></li>
                            @{
                                var hotBrand2 = @Model.HotBrand;
                            }

                            @foreach (var hotBrandinfo2 in hotBrand2)
                            {
                                <li><h1><a><img src="@{@WorkContext.ImageCDN}/images/brand/@hotBrandinfo2.Logo" /></a></h1></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript">
        jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,scroll:5,vis:5,delayTime:1000});
    </script>


    <!--end banner js-->
    <script>
        $(".tab-search li").click(function(e){
            $(this).addClass("selected");
            $(this).siblings().removeClass("selected");
        });
    </script>
    <script type="text/javascript">
        $("#categorysCon .tit").slide({
            type:"menu",
            titCell:".mod_cate",
            targetCell:".mod_subcate",
            delayTime:0,
            triggerTime:10,
            defaultPlay:false,
            returnDefault:true
        });
        /*$(function () {
        $("#categorysCon").unbind("mouseover");
        $("#categorysCon").unbind("mouseout");
        $("#submenu").removeClass("hide");
    });*/
    </script>

    <script type="text/javascript">
        $("#categorys").unbind();
        $("#categorysCon").removeClass("hide");
    </script>

    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="/scripts/home.js"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.soChange.js" type="text/javascript"></script>
    @Html.Partial("_footer")
</body>


</html>
<script src="/scripts/jquery.kinMaxShow-1.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        $("#kinMaxShow").kinMaxShow();


    });

</script>

