@model BrnMall.Web.Models.StoreNewsModel
@{
    ViewBag.Title = "StoreNews";
    Layout = null;
}

@*@Html.Partial("_header")*@
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/public.css">
<link rel="stylesheet" type="text/css" href="/css/shorenews.css">
<link rel="stylesheet" type="text/css" href="/css/shorepublic.css">
<div id="topbar">
    <div class="container">
        <div class="col-xs-6 row">
            <span class="fl">欢迎您,</span><!--<a>[登录]</a>&nbsp;<a>[注册]</a>-->
            <ul class="fl topl">
                <li class="talk">
                    消息<i style="background:url(/images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                    <dl class="sub-menu">
                        <dd><a>待处理订单</a></dd>
                        <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                        <dd><a>通知</a></dd>
                    </dl>
                </li>
                <li class="menu">
                    我的云绣
                    <div class="sub-menu bg-white" style="z-index:9999; width:200px;border:1px solid #ddd;border-top:0;">
                        <dl class="fl">
                            <dt><a>我是买家</a></dt>
                            <dd><a>发布采购</a></dd>
                            <dd><a>发布招标</a></dd>
                            <dd><a>我的优惠券</a></dd>
                            <dd><a>我的采购单</a></dd>
                            <dd><a>我的留言</a></dd>
                        </dl>
                        <dl class="fl">
                            <dt><a>我是卖家</a></dt>
                            <dd><a>管理旺铺</a></dd>
                            <dd><a>已卖出的商品</a></dd>
                            <dd><a>管理供应商品</a></dd>
                            <dd><a>我的商机</a></dd>
                        </dl>
                    </div>
                </li>
            </ul>

        </div>
        <div class="topbarr row">
            <ul>
                <!--<li class="talk">
                   消息<i style="background:url(images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                   <dl class="sub-menu">
                      <dd><a>待处理订单</a></dd>
                      <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                      <dd><a>通知</a></dd>
                   </dl>
                </li>-->
                <li class="menu">
                    我的收藏
                    <dl class="sub-menu">
                        <dd><a>收藏的商品</a></dd>
                        <dd><a>收藏的供应商</a></dd>
                    </dl>
                </li>
                <li class="menu">
                    云绣服务
                    <dl class="sub-menu">
                        <dd><a>标王服务</a></dd>
                        <dd><a>黄金展位</a></dd>
                        <dd><a>会员服务</a></dd>
                        <dd><a>商贸通</a></dd>
                    </dl>
                </li>
                <li class="menu">
                    诚信商家
                    <dl class="sub-menu">
                        <dd><a>商家权益</a></dd>
                        <dd><a>招商标准</a></dd>
                        <dd><a>收费标准</a></dd>
                        <dd><a>入驻开店</a></dd>
                    </dl>
                </li>
                <li class="menu">
                    客服中心
                    <dl class="sub-menu">
                        <dd><a>买家帮助</a></dd>
                        <dd><a>卖家帮助</a></dd>
                        <dd><a>在线咨询</a></dd>
                        <dd><a>常见问答</a></dd>
                        <dd><a>二维码</a></dd>
                    </dl>
                </li>
                <li class="menu">
                    网站导航
                    <dl class="sub-menu">
                        <dd><a>云绣ERP</a></dd>
                        <dd><a>娴婷一账通</a></dd>
                        <dd><a>云绣网</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
</div>

<header class="container">
    <div class="row">
        <div class="logopart col-md-4" style="margin-top: -20px;">
            <!--<a href="###" class="logo"></a>-->
            <h2><img src="/images/logo.png" alt="云绣网" /><span style="margin-left:15px; margin-top: 20px;"><img src="/images/slogan.png" alt="刺绣行业一站式采购" /></span></h2>
        </div>

        <div class="search-part col-md-6">
            <ul class="tab-search">
                <li class="selected"><a>全部</a></li>
                <li><a>线辅材</a></li>
                <li><a>供应商</a></li>
            </ul>
            <div class="clear">
                <input class="search-text" type="text" autocomplete="off" />
                <button type="button" class="searchbtn">搜索</button>
            </div>
            <div class="hotwords">
                <a href="###" target="_blank" class="hot">绣花机</a>
                <a href="###" target="_blank">绣针</a>
                <a href="###" target="_blank">机夹</a>
                <a href="###" target="_blank">机架</a>
                <a href="###" target="_blank">零配件</a>
            </div>
        </div>

        <div class="cart-part col-md-2">
            <h2><a href="###" target="_blank">我的购物车<b>3</b></a></h2>
        </div>
    </div>
</header>

<div class="store-header">
    <div class="store-container">
        <img src="/images/tiandao.png">
        <span>神州田岛</span>
    </div>
</div>

<div class="store-nav clearfix">
    <div class="store-container">
        <ul>
            <li><a href="@Url.Action("index", "store", new RouteValueDictionary { { "storeId", Model.StoreInfo.StoreID } })">公司首页</a></li>
            <li><a href="@Url.Action("supplyproduct", "store", new { sid = @Model.StoreInfo.StoreID})">供应产品</a></li>
            <li><a href="@Url.Action("storeintroduction", "store", new { sid = @Model.StoreInfo.StoreID})">公司介绍</a></li>
            <li class="store-nav-active"><a href="@Url.Action("storenews", "store", new { sid = @Model.StoreInfo.StoreID})">旺铺动态</a></li>
            <li><a href="@Url.Action("storealbum", "store", new { sid = @Model.StoreInfo.StoreID})">公司相册</a></li>
            </ul>
    </div>
</div>
<div class="main-body">
    <div class="news-container clearfix">
        <div class="conten-left">
            <div class="left-body store-zl">
                <h4 class="title">公司信息</h4>
                <div class="zl-header clearfix">
                    <img src="/images/storeImg/@Model.StoreInfo.Logo">
                    <p>
                        <b>@Model.StoreInfo.Name</b>
                        <span>买卖通会员</span>
                    </p>
                </div>
                <div class="zl-detail">
                    <div class="detail-item">
                        <lable>在线客服：</lable>
                        <a href="">店小二<img src="/images/headimg.png"></a>
                    </div>
                    <div class="detail-item">
                        <lable>联系电话：</lable>
                        <span>@Model.StoreInfo.Mobile</span>
                    </div>
                    <div class="detail-item">
                        <lable>经营产品：</lable>
                        <span>刺绣机器 零配件</span>
                    </div>
                    <div class="detail-item">
                        <lable>所在地区：</lable>
                        <span>广东 惠州</span>
                    </div>
                </div>
                <div class="zl-footer">
                    <button>收藏店铺</button>
                </div>
            </div>

            <div class="left-body store-rank">
                <h4 class="title">人气商品</h4>
                <div class="rank-panel">
                    <ul class="rank-list">
                        @foreach (var info in Model.Products) 
                        {
                            if (@info.IsHot == true)
                            { 
                                 <li>
                                    <div class="img">
                                        <a href=""><img src="/images/productImg/@info.ImgName" style="width:80px;height:68px"></a>
                                    </div>
                                    <div class="detail">
                                        <p class="desc"><a href="">田岛高速电脑刺绣机</a></p>
                                        <p class="price">￥@info.ShopPrice</p>
                                        <p class="sale">已售出<span>@info.SaleCount</span>笔</p>
                                    </div>
                                </li>
                            }
                        
                        }
                       
                        @*<li>
                            <div class="img">
                                <a href=""><img src="/images/picimg1.png"></a>
                            </div>
                            <div class="detail">
                                <p class="desc"><a href="">田岛高速电脑刺绣机</a></p>
                                <p class="price">￥498000.00</p>
                                <p class="sale">已售出<span>99</span>笔</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href=""><img src="/images/picimg1.png"></a>
                            </div>
                            <div class="detail">
                                <p class="desc"><a href="">田岛高速电脑刺绣机</a></p>
                                <p class="price">￥498000.00</p>
                                <p class="sale">已售出<span>99</span>笔</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href=""><img src="/images/picimg1.png"></a>
                            </div>
                            <div class="detail">
                                <p class="desc"><a href="">田岛高速电脑刺绣机</a></p>
                                <p class="price">￥498000.00</p>
                                <p class="sale">已售出<span>99</span>笔</p>
                            </div>
                        </li>
                        <li>
                            <div class="img">
                                <a href=""><img src="/images/picimg1.png"></a>
                            </div>
                            <div class="detail">
                                <p class="desc"><a href="">田岛高速电脑刺绣机</a></p>
                                <p class="price">￥498000.00</p>
                                <p class="sale">已售出<span>99</span>笔</p>
                            </div>
                        </li>*@
                    </ul>
                </div>
            </div>

        </div>

        <div class="conten-right">
            <div class="right-body store-news">
                <h4 class="title">公司动态</h4>
                <div class="news-contain">
                    <ul class="news-list">
                        @foreach (var info in Model.StoreDynamics) 
                        {
                         <li><span>2016-9-30</span><a href="">@info.Title</a></li>
                        }
                       
                        @*<li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>
                        <li><span>2016-9-30</span><a href="">关于国庆期间的放假通知</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_footer")