@{
    Layout = null;
}
@model BrnMall.Web.MallAdmin.models.RoleModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/admin_mall/css/site.css" />
</head>
<body>
    <h1 class="rightH1">
        商城管理 &gt;&gt; 修改角色
        <div class="right">
            @*<a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT"><img src="/admin_mall/images/goback.jpg" />返回列表</a>
                <div class="clear"></div>*@
        </div>
        <div class="clear"></div>
    </h1>

    <div class="addTable">
        <input type="hidden" name="rID" value="@Model.Role.RID" />
        <table width="100%">
            <tbody>           
                <tr>
                    <td width="86px" align="right">角色名 ：</td>
                    <td><input type="text" name="rName" value="@Model.Role.RName" /></td>
                </tr>
                <tr>
                    <td width="86px" align="right">角色描述 ：</td>
                    <td><textarea name="describe">@Model.Role.Describe</textarea></td>
                </tr>
                <tr>
                    <td width="86px" align="right">角色权限 ：</td>
                    <td><input type="button" name="role-permission-btn" value="修改"  data-toggle="modal" data-target="#permission-panel"  style="width:50px;"/></td>
                </tr>
                <tr>
                    <td width="86px" align="right"></td>
                    <td><input type="button" value="提交" class="edit-save" style="width:50px;" /></td>
                </tr>
            </tbody>
        </table>
    
      <br /><br />
       
    </div>

    <div class="modal fade" id="permission-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">角色权限</h4>
                </div>
                <div class="modal-body">
                    @foreach (var p in Model.Permissions)
                    {
                        if (Model.OwnPermissions.Where(o => o.PID == p.PID).Count() > 0)
                        {
                            <span> @p.PName</span><input type="checkbox" value="@p.PID" class="permission-select" checked />
                        }
                        else
                        {
                            <span> @p.PName</span><input type="checkbox" value="@p.PID" class="permission-select" />
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
</html>

<script src="/admin_mall/scripts/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/admin_mall/scripts/MallManage.js?v=3"></script>
